<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86b9e3">  <td>24/01/12 20:18:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice.method5()[pri:0, instance:Practice.Practice@47faa49c]">method5</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>24/01/12 20:18:51</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice2.method6()[pri:0, instance:Practice.Practice2@429bffaa]">method6</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>24/01/12 20:18:51</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice2.method8()[pri:0, instance:Practice.Practice2@429bffaa]">method8</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>24/01/12 20:18:51</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice.method6()[pri:0, instance:Practice.Practice@47faa49c]">method6</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>24/01/12 20:18:51</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice2.method7()[pri:0, instance:Practice.Practice2@429bffaa]">method7</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>24/01/12 20:18:51</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Practice.method4()[pri:0, instance:Practice.Practice@47faa49c]">&gt;&gt;method4</td> 
<td>&nbsp;</td>  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>24/01/12 20:18:51</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Practice.method4()[pri:0, instance:Practice.Practice@47faa49c]">&gt;&gt;method4</td> 
<td>&nbsp;</td>  <td>main@634297796</td>   <td></td> </tr>
</table>
