<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a487af">  <td>24/01/12 20:17:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Practice.method4()[pri:0, instance:Practice.Practice@3e84448c]">&lt;&lt;method4</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1855026648</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>24/01/12 20:17:11</td>   <td>-21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice.method5()[pri:0, instance:Practice.Practice@3e84448c]">method5</td> 
  <td>main@1855026648</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>24/01/12 20:17:11</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice.method6()[pri:0, instance:Practice.Practice@3e84448c]">method6</td> 
  <td>main@1855026648</td>   <td></td> </tr>
</table>
