<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="909dad">  <td>24/01/10 19:29:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_tc.Patch_executor()[pri:0, instance:Test_Class_Pkg.Patch_tc@58d75e99]">Patch_executor</td> 
  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>24/01/10 19:29:35</td>   <td>4668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_tc.Post_executor()[pri:0, instance:Test_Class_Pkg.Post_tc@e15b7e8]">Post_executor</td> 
  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>24/01/10 19:29:30</td>   <td>-110</td> <td>&nbsp;</td><td title="&gt;&gt;Post_tc.Test_setUp()[pri:0, instance:Test_Class_Pkg.Post_tc@e15b7e8]">&gt;&gt;Test_setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>24/01/10 19:29:29</td>   <td>-1086</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_tc.Test_setUp()[pri:0, instance:Test_Class_Pkg.Patch_tc@58d75e99]">&gt;&gt;Test_setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>24/01/10 19:29:36</td>   <td>6408</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_tc.Test_tearDown()[pri:0, instance:Test_Class_Pkg.Patch_tc@58d75e99]">&lt;&lt;Test_tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>24/01/10 19:29:36</td>   <td>6411</td> <td>&nbsp;</td><td title="&lt;&lt;Post_tc.Test_tearDown()[pri:0, instance:Test_Class_Pkg.Post_tc@e15b7e8]">&lt;&lt;Test_tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
</table>
