<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d67f98">  <td>24/01/10 19:29:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_tc.Test_setUp()[pri:0, instance:Test_Class_Pkg.Get_tc@72e5a8e]">&gt;&gt;Test_setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="d67f98">  <td>24/01/10 19:29:40</td>   <td>2674</td> <td>&nbsp;</td><td title="&lt;&lt;Get_tc.Test_tearDown()[pri:0, instance:Test_Class_Pkg.Get_tc@72e5a8e]">&lt;&lt;Test_tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="fac082">  <td>24/01/10 19:29:37</td>   <td>2</td> <td>&nbsp;</td><td title="&gt;&gt;Put_tc.Test_setUp()[pri:0, instance:Test_Class_Pkg.Put_tc@7d4f9aae]">&gt;&gt;Test_setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="d67f98">  <td>24/01/10 19:29:39</td>   <td>1850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_tc.Get_executor()[pri:0, instance:Test_Class_Pkg.Get_tc@72e5a8e]">Get_executor</td> 
  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="fac082">  <td>24/01/10 19:29:40</td>   <td>2675</td> <td>&nbsp;</td><td title="&lt;&lt;Put_tc.Test_tearDown()[pri:0, instance:Test_Class_Pkg.Put_tc@7d4f9aae]">&lt;&lt;Test_tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="fac082">  <td>24/01/10 19:29:37</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_tc.Put_executor()[pri:0, instance:Test_Class_Pkg.Put_tc@7d4f9aae]">Put_executor</td> 
  <td>main@87674905</td>   <td></td> </tr>
</table>
